@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Pacifico&family=Roboto&family=Roboto+Slab&family=Satisfy&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Alice', 'Arial', sans-serif;
}

body {

    // padding: 2rem;
    background-image: url(./assets/homePicture3.jpg);
    background-size: cover;


}

header .logo {
    text-align: center;

    img {
        height: 8rem;
        margin-bottom: 1rem;
        border-radius: 80%;
    }

}



nav {
    padding-bottom: 0.8rem;
    background-color: rgba(98, 96, 96, 0.447);
    display: flex;
    flex-wrap: wrap;

    button,
    .btn {
        flex-basis: 150px;
        flex-grow: 1;
        background: transparent;
        border: 0;
        border-radius: 0;
        padding: 1rem 0 0.2rem 0;
        display: inline-block;
        position: relative;
        color: #f8f8f8;
        font-size: 1.2rem;
        letter-spacing: 0.2rem;



        &:after {
            content: '';
            position: absolute;
            width: 80%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            background-color: #F2C879;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        &:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }

        &:hover {
            color: #f8f8f8;
        }

        @media (max-width: 992px) {
            flex-basis: 235px;

        }

        @media (max-width: 768px) {
            flex-basis: 200px;

        }

        @media (max-width: 576px) {
            flex-basis: 180px;

        }
    }
}


// &:active,
// &:focus,
// &:hover {
//     background: transparent;
//     color: #1791b3;

// }

// }

// .btn.btn-active {
//     background-color: #f4b700;
//     text-decoration: underline;
// }
// }

main {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 2rem 0 0 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-family: Alice;
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        // background-color: rgba(192, 163, 110, 0.229);


        justify-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        li {
            min-height: 330px;
            min-width: 300px;
            display: flex;
            flex-direction: column;
            flex-basis: 100px;
            margin: 2rem;
            justify-content: space-around;

            // flex-grow: 1;
            // align-self: flex-end;
            // background-color: #857340;
            // background-color: rgba(152, 150, 150, 0.808);
            // border-radius: 5%;
            // box-shadow: #ffffff 0 2px 8px 2px;
            color: black; // padding: 1rem;
            border: #00576e 2px solid;
            background-color: rgba(192, 163, 110, 0.914);
            // background-color: #f2c879ed;

            h5 {
                font-family: Pacifico, sans-serif;
            }

            p,
            h5,
            h6 {
                margin: 0.4rem;
                text-align: center;
                justify-content: space-around;
            }


            footer {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding: 0.4rem;

                &>*+* {
                    margin-left: 1rem;
                }
            }

            button,
            .btn {
                background: transparent;
                border: 1px solid #00576e;
                color: white;
                background-color: #00576e;
                letter-spacing: 0.1rem;
                font-size: 0.9rem;
            }
        }

        li+li {
            margin-top: 2rem;
        }
    }

    article {
        $bg-color-1: #fffcf2;
        $bg-color-2: #fff6dd;

        background: repeating-linear-gradient(45deg, $bg-color-1, $bg-color-1 10px, $bg-color-2 10px, $bg-color-2 20px);
        box-shadow: #00576e 0 2px 8px 2px;
        margin: 2em 1em;
        padding: 1rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            // background: #ddc37dbd;
            color: white;
            margin: 0;
            padding: 1rem 0.5rem;
        }
    }
}


//SEKCJA TREATMENTS STYLE

.treatments {
    ul {
        margin: 0;
    }

    li {
        // margin: 2rem 4rem;
        min-height: 350px;
        min-width: 270px;
        // background-color: rgba(116, 116, 121, 0.666);
        background-color: #f2c8799f;
        // background-color: rgb(136, 116, 78);


    }

    h2 {
        margin: 0;
        padding-top: 2rem;
        color: black;
        text-align: center;
    }

    h5 {
        margin-bottom: 1rem;
    }

    h6 {
        font-size: 1.1rem;
        font-style: italic;
        font-family: Alice, 'Arial', sans-serif;
        padding: 0;
        text-align: center;
    }

    p {
        margin-top: 1rem;
        color: #f8f8f8;
    }


    background-color: #F2C879;
    background-color: rgba(192, 163, 110, 0.96);

}

.rooms {


    h2 {
        text-shadow: #00576e 1px 1px 1px;
    }

    h2,
    p {
        text-align: center;
        color: #f8f8f8;
    }

    @media (max-width: 1500px) {
        background-color: rgba(192, 163, 110, 0.96);

        li {
            background-color: #f2c8799f;
        }

        h2 {
            padding-top: 1rem;
            color: black;
            text-shadow: none;
        }

        // background-color: rgba(199, 192, 192, 0.923);
        // border: #00576e 2px solid;
    }


}




//SEKCJA HOME STYLE
.home {
    // background-color: #f2c879c0;
    // border: #00576e 2px solid;

    h2 {
        margin-top: 4rem;
    }

    p {
        font-style: italic;
    }

    h2,
    p {
        text-align: center;
        color: #f8f8f8;
        text-shadow: #00576e 2px 2px 2px;

        // color: #F2C879;
        // color: #F2BB13;
    }
}


@media (max-width: 576px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            flex-basis: 60px;

        }

    }
}




.footer {
    background-color: rgb(192, 163, 110);
    padding: 0;
    margin: 0; // background-color: #F2C879;
    border-top: #00576e 2px solid;

}