@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', 'Arial', sans-serif;
    // padding: 2rem;
    background-image: url(./assets/homePicture3.jpg);
    background-size: cover;


}

header .logo {
    text-align: center;

    img {
        height: 8rem;
        margin-bottom: 1rem;
        border-radius: 80%;
    }

}



nav {
    padding-bottom: 5px;
    background-color: rgba(98, 96, 96, 0.447);
    display: flex;
    flex-wrap: wrap;

    button,
    .btn {
        flex-basis: 150px;
        flex-grow: 1;
        background: transparent;
        border: 0;
        border-radius: 0;
        padding: 1rem 0 0.2rem 0;
        display: inline-block;
        position: relative;
        color: #f8f8f8;
        font-size: 1.4rem;
        letter-spacing: 0.2rem;



        &:after {
            content: '';
            position: absolute;
            width: 80%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            background-color: #F2C879;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        &:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }

        &:hover {
            color: #f8f8f8;
        }

        @media (max-width: 992px) {
            flex-basis: 235px;

        }

        @media (max-width: 768px) {
            flex-basis: 200px;

        }

        @media (max-width: 576px) {
            flex-basis: 180px;

        }
    }
}







//TU ZACZAC

// nav {
//     background-color: rgba(76, 187, 126, 0.4);
//     display: flex;
//     flex-wrap: wrap;


//     button,
//     .btn {
//         flex-basis: 150px;
//         flex-grow: 1;
//         background: transparent;
//         border: 0;
//         border-radius: 0;
//         font-size: 1.2rem;
//         padding: 1rem 0;
//         // color: whitesmoke;


//         @media (max-width: 992px) {
//             flex-basis: 235px;

//         }

//         @media (max-width: 768px) {
//             flex-basis: 200px;

//         }

//         @media (max-width: 576px) {
//             flex-basis: 180px;

//         }


//TU SKONCZYC


// &:active,
// &:focus,
// &:hover {
//     background: transparent;
//     color: #1791b3;

// }

// }

// .btn.btn-active {
//     background-color: #f4b700;
//     text-decoration: underline;
// }
// }

main {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 2rem 0 0 0;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            background-color: #1791b3;
            box-shadow: #00576e 0 2px 8px 2px;
            color: #fff;
            padding: 1rem;

            footer {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                &>*+* {
                    margin-left: 1rem;
                }
            }

            button,
            .btn {
                background: transparent;
                border: 1px solid #fff;
                color: #fff;
            }
        }

        li+li {
            margin-top: 2rem;
        }
    }

    article {
        $bg-color-1: #fffcf2;
        $bg-color-2: #fff6dd;

        background: repeating-linear-gradient(45deg, $bg-color-1, $bg-color-1 10px, $bg-color-2 10px, $bg-color-2 20px);
        box-shadow: #00576e 0 2px 8px 2px;
        margin: 2em 1em;
        padding: 1rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            background: #ddc47d;
            color: white;
            margin: 0;
            padding: 1rem 0.5rem;
        }
    }
}

section {

    h2,
    p {
        text-align: center;
        // color: #F2C879;
        // color: #F2BB13;
    }
}


@media (max-width: 576px) {
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            flex-basis: 60px;

        }

    }
}